*.pyc
*.sh
setup.cfg
pywebview.egg-info
MANIFEST
build
dist
.cache
.idea
.vs
bin
obj
node_modules
dist
gui
.DS_Store
venv*
.vscode
.pytest_cache
__pycache__
.eggs
/tmp
lib/SDT2/output
nuitka-crash-report.xml
.coverage
profile.html
profile.json