.app-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main";
  background: #fbfbfb;

  &.with-header {
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header"
      "main";
  }
}

.app-header {
  grid-area: header;
  border-bottom: 0.1rem solid #ddd;
  padding: 0.8rem;
  z-index: 1;
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: 0.875rem;
  box-shadow: 0 0 0.2rem #ccc;
  background: #fff;

  .left,
  .right {
    display: grid;
  }

  .left {
    grid: auto-flow / auto 1fr;
    grid-gap: 0.8rem;
    display: flex;
    place-items: center;
  }

  .run-info {
    display: grid;
    grid: auto / auto-flow;
    grid-gap: 0.8rem;
    align-content: center;
    font-size: 0.813rem;
    padding-left: 0.8rem;
  }

  .data-view {
    border: 0.1rem solid #ddd;
    border-radius: 0.3rem;
    display: flex;

    > * {
      padding: 0.2rem 0.6rem;
      font-weight: 500;

      &[data-selected="true"] {
        background: #ddd;
      }
    }
  }

  button {
    min-width: 4.8rem;
  }
}

.app-panel {
  display: grid;
  grid-template-columns: 15.2rem 1fr;
  grid-template-areas: "sidebar main";
  overflow: hidden;
}

.app-sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: 0.1rem solid #ddd;
  font-size: 0.875rem;
  background: #f9f9f9;

  .group {
    border-bottom: 0.1rem solid #ddd;
    padding: 0.8rem;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.app-main {
  grid-area: main;
  overflow: auto;
  background: #fff;

  img {
    margin: 0 auto;
  }
}

.app-footer {
  grid-area: footer;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex {
  display: flex;
}

input, select {
  border: 0.1rem solid #ccc;
  border-radius: 0.2rem;
}

select, select option {
  text-transform:capitalize;
}

.form-wrapper {
  border: 1px solid #000;
  border-radius: 0.4rem;
  padding: 2.4rem;
  justify-content: left;

  &.runner-wrapper {
    max-width: 30rem;
    width: 100%;
  }
}

.form {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  h4,
  .section-header {
    margin-bottom: 0.6rem;
    font-weight: 700;
  }

  .col-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.8rem;
    margin-bottom: 0.8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .field {
    margin-bottom: 0.8rem;

    .subfield {
      margin-top: 0.4rem;

      label {
        font-weight: 400;
      }
    }

    .input-with-button {
      display: flex;

      input[type="text"] {
        width: 100%;
      }

      button {
        flex-shrink: 0;
      }
    }

    &.runner-settings {
      font-size: 0.95rem;

      &.performance {
        border-top: 0.1rem solid #ddd;
        padding-top: 0.8rem;
      }

      .performance-details {
        display: flex;
        align-items: center;

        .cores {
          display: flex;
          font-size: 0.8rem;
          font-weight: 600;
          border-radius: 0.25rem;
          padding: 0.1rem 0.3rem;
          background: #333;
          color: #fff;
          margin-right: 0.25rem;
          gap: 0.2rem;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    label {
      font-weight: 500;

      &.header {
        display: block;
        font-weight: 600;
        margin-bottom: 0.2rem;
      }
      &.radio {
        display: block;
        font-weight: normal;
      }
    }

    input + * {
      margin-left: 0.8rem;
    }
    input[type="radio"] + span {
      margin-left: 0.4rem;
    }

    input + label, label input + span {
      text-transform: capitalize;
    }

    &[data-invalid-value="true"] input {
      color: red;
    }
  }

  .col-2 .field {
    margin-bottom: 0;
  }

  .range-group {
    margin-bottom: 0.6rem;

    .field {
      margin-bottom: 0;
    }
  }

  .advanced-settings {
    font-size: 0.875rem;
    background: #f8f8f8;
    border: 0.1rem solid #eaeaea;
    border-radius: 0.4rem;
    padding: 0.6rem;
    margin-bottom: 1.6rem;

    .group {
      margin-top: 0.8rem;
      padding: 0 1rem;

      &:last-child {
        padding-bottom: 0.8rem;
      }

      h4 {
        margin: 1.2rem 0 0.2rem;
      }
    }

    .col-2 {
      grid-gap: 1.6rem;
    }

    .field {
      label {
        margin-bottom: 0.2rem;
      }
      label {
        display: block;
      }
      input {
        width: 100%;
        height: 1.6rem;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: right;
    margin-top: 0.8rem;

    button {
      width: 100%;
    }
  }

  .success {
    color: green;
    border: 0.1rem solid green;
    border-radius: 0.4rem;
    font-weight: bold;
    padding: 0.8rem;
    margin-top: 1.8rem;
  }
}

.export-form {
  label {
    display: block;
  }

  .react-aria-NumberField input {
    width: 100%;
  }
}

.app-sidebar-toolbar {
  z-index: 1;
  overflow: auto;
  flex-grow: 1;

  input,
  select {
    width: 100%;
  }

  input[type="text"],
  input[type="number"],
  select {
    height: 1.6rem;
  }

  input[type="text"] {
    padding-left: 0.4rem;
  }

  label input:not([type="text"]) {
    width: auto;
    margin-right: 0.4rem;
  }

  input[type="range"] {
  }
}

.app-sidebar-footer {
  border-top: 1px solid #ddd;

  select {
    width: 100%;
  }

  label + select {
    margin-top: 0.4rem;
  }
}

.api-loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.plotly {
  .modebar {
    display: flex;
    flex-direction: row;
  }

  .modebar-group {
    display: unset;
  }
}

.error-screen {
  height: 100vh;
  padding: 2rem;
  justify-content: flex-start;

  h1 {
    color: red;
    margin: 0;
  }

  details {
    width: 100%;
    border: 0.1rem solid #000;
    border-radius: 0.4rem;
    padding: 1rem;
    margin-top: 4rem;
    font-family: "Menlo", "Consolas", "monospace";

    & + details {
      margin-top: 1rem;
    }

    summary {
      font-weight: bold;
    }

    code,
    pre {
      display: block;
      padding: 1rem 0;
    }

    pre {
      overflow: auto;
      background: #f5f5f5;
      padding: 1rem;
      margin: 1rem 0 0;
    }
  }
}

.field .react-aria-Group {
  display: flex;

  input + button {
    margin: 0;
  }
}

.number-input-group {
  gap: 0.2rem;
  position: relative;

  [slot="increment"], [slot="decrement"] {
    visibility: hidden;
    background: #fff;
    border: 0;
    border-radius: 3px 3px 0 0;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.6rem;
    width: 0.8rem;
    padding: 0;
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 0;

    &:active, &:hover {
      background: #ddd;
    }
  }

  &:hover {
    [slot="increment"], [slot="decrement"] {
      visibility: visible;
    }
  }

  [slot="increment"] {
    border-bottom: 0;
  }

  [slot="decrement"] {
    border-top: 0;
    border-radius: 0 0 3px 3px;
    top: 13px;
    font-size: 0.9rem;
  }
}

.react-aria-Slider {
  display: grid;
  grid-template-areas: "label output"
                       "track track";
  grid-template-columns: 1fr auto;
  max-width: calc(100% - (1.429rem / 2));
  color: var(--text-color);

  .react-aria-Label {
    grid-area: label;
  }

  .react-aria-SliderOutput {
    grid-area: output;
  }

  .react-aria-SliderTrack {
    grid-area: track;
    position: relative;

    /* track line */
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: ButtonBorder;
    }
  }

  .react-aria-SliderThumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: white;
    border: 2px solid AccentColor;

    &[data-dragging] {
      // background: yellow;
    }

    &[data-focus-visible] {
      outline: 1px auto -webkit-focus-ring-color;
      outline: 1px auto Highlight;
      border-color: HighlightText;
    }
  }

  &[data-orientation=horizontal] {
    flex-direction: column;


    .react-aria-SliderTrack {
      height: 30px;
      width: 100%;

      &:before {
        height: 2px;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .react-aria-SliderThumb {
      top: 50%;
    }
  }
}

.react-aria-ProgressBar {
  display: grid;
  grid-template-areas: "label value"
                       "bar bar";
  grid-template-columns: 1fr auto;
  gap: 0.4rem;
  width: 100%;

  .value {
    grid-area: value;
  }

  .bar {
    grid-area: bar;
    box-shadow: inset 0 0 0 1px #ddd;
    height: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    will-change: transform;
  }

  .fill {
    background: black;
    height: 100%;
    transition: width 0.25s;
  }
}

.loader .react-aria-ProgressBar {
  max-width: 25rem;
}
