@import "variables.scss";
@import "modal.scss";
@import "switch.scss";
@import "popover.scss";
@import "select.scss";
@import "toggle.scss";
@import "tooltip.scss";
@import "dialog.scss";
@import "color-picker.scss";
@import "slider.scss";

@import "runner.scss";
@import "heatmap.scss";

html,
body {
  background: var(--canvas-color);
  overflow: hidden;
}

.app-layout {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;

  grid-template-rows: auto 1fr;
    grid-template-areas:
      "header"
      "body";
}

.app-header {
  grid-area: header;
  padding: 0.9rem var(--app-container-padding);
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  align-items: flex-start;
  z-index: 10;
  font-size: 1.3rem;
  height: var(--app-header-height);

  @media (max-width: 55rem) {
    grid-template-columns: auto 1fr auto;
    gap: 2.4rem;
  }

  .app-header-left {
    display: flex;
    gap: 0.2rem;
  }

  .app-header-middle {
    overflow: hidden;
    display: flex;
    place-items: center;
    justify-content: center;

    > .react-aria-Select .react-aria-Button {
      color: #000;
    }
  }

  .app-header-right {
    place-items: end;

    justify-self: flex-end;

    .react-aria-Button {
      gap: 0.8rem;
    }
  }

  .react-aria-Button {
    height: 3rem;
    color: var(--text-secondary-color);
    padding: 0.6rem 1rem;
    box-shadow: none;
    background: none;

    &[data-hovered] {
      background: #dfdfdf;
    }
    &[data-selected] {
      background: #ccc;
    }
    &[data-pressed] {
      background: #cfcfcf;
    }

    font-weight: 500;
  }

  .react-aria-Button.with-svg:not([data-hovered]),
  .react-aria-Select .react-aria-Button:not([data-hovered]) {
    background: #e5e5e5;
  }
}

.app-body {
  grid-area: body;
}

.app-panels {
  display: grid;
  overflow: hidden;
  grid-template-areas: "sidebar-left panel";
  grid-template-columns: 18rem 1fr;
  height: calc(100vh - var(--app-header-height));
  &[data-left-sidebar-collapsed="true"] {
    grid-template-columns: 6rem 1fr;
  }
}

.app-panel {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-area: panel;
  grid-template-areas: "app-main sidebar-right";
  grid-template-columns: 1fr var(--app-sidebar-width);
  padding-bottom: var(--app-container-padding);

  &.full-width {
    grid-template-areas: "app-main";
    grid-template-columns: 1fr;
  }
}

.app-sidebar-left {
  grid-area: sidebar-left;
  margin-top: 0.2rem;
}

.app-sidebar-right {
  grid-area: sidebar-right;
  margin: 0.2rem var(--app-container-padding) 0;
  height: 100%;
  max-height: min-content;
  overflow: auto;
  border-radius: 0.6rem;
  box-shadow: 0 0 0 0.1rem var(--border-color);
}

.app-sidebar {
  display: flex;
  flex-direction: column;

  .group {
    border-bottom: 0.1rem solid var(--border-color);
  }

  .padded {
    padding: var(--app-container-padding);
  }

  .field.flush {
    margin: 0;
  }

  .react-aria-TabList {
    background: none;
    box-shadow: none;
    padding: 0.8rem 1.2rem 0.4rem;
    font-size: 1.4rem;
    font-weight: bold;
    gap: 0.4rem;

    &[data-collapsed="true"] {
      .react-aria-Tab {
        svg {
          flex-shrink: 0;
        }
        span {
          visibility: hidden;
        }

        &[data-disabled] {
          margin: 0;
        }
      }

      > .react-aria-Tab {
      }
    }

    > .react-aria-Tab {
      padding: 1rem 1.2rem;
      transition: all 60ms ease-in-out;

      &.header {
        text-transform: uppercase;
        margin: 1.2rem 0 0;
        padding-bottom: 0.4rem;
        font-size: 1.3rem;
        font-weight: bold;

        &:first-of-type {
          margin-top: 0.5rem;
        }
      }

      &[data-hovered="true"]:not([data-selected="true"]) {
        background: #e7e7e7;
      }
      &[data-selected="true"] {
        box-shadow: none;
        background: var(--nav-selected-color);
      }
    }
  }
}

.app-main {
  height: 100%;
  grid-area: app-main;
  overflow: hidden;
  min-width: 20rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.2rem 0 var(--drop-shadow-color);
  margin: 0.2rem 0.2rem 0;

  img {
    margin: 0 auto;
  }

  &.runner,
  &.loader {
    margin: calc(var(--app-container-padding));
    margin-top: 0.2rem;

    margin: 0.2rem 0 0;
    border-radius: 0;
  }
}

.app-footer {
  grid-area: footer;
  padding: 1rem;
  text-align: center;
  color: var(--secondary-foreground-color);
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.document-tabs {
  gap: 0.4rem;
  padding: 0 1.6rem;
  width: 100%;
  position: relative;

  .document-tablist {
    width: 100%;
    overflow: auto;
    gap: 0.8rem;
    display: flex;
    place-content: center;
    background: none;
    padding: 0;
    box-shadow: none;
    border: 0;
  }

  .react-aria-Button.new-document {
    width: 3rem;
    position: fixed;
    top: .8rem;
    left: 0;
    margin-left: 0.2rem;
  }

  .document-tab {
    display: flex;
    align-items: center;
    height: 3rem;
    background: #e7e7e7;
    font-weight: 500;
    border-radius: 0.4rem;
    padding: 0 1.6rem 0 3.2rem;
    justify-items: center;
    font-weight: 500;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 12rem;
    transition: max-width 0.2s ease-out, flex-basis 0.2s ease-out, background 60ms ease-in-out;
    min-width: 8.2rem;
    max-width: 16rem;
    transition: background 60ms ease-in-out;

    &[data-closing="true"] {
      display: none;
      transition: none;
    }

    *, .close-button {
      opacity: 0;
      animation: reveal 120ms ease-in 0s forwards;
    }

    .tab-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
      width: 100%;

      i {
        transition: margin 200ms ease-in-out, height 200ms ease-in-out;
        display: block;
        overflow: hidden;
        font-size: 1.1rem;
        line-height: 0.8;
        font-style: normal;
        font-weight: 550;
        height: 1.2rem;
      }

      &[data-modified="false"] i {
        height: 0;
      }
      &[data-modified="true"] i {
        opacity: 0.6;
      }
    }

    .tab-progress {
      font-size: 1.1rem;
      margin-left: 0.8rem;
      margin-right: -0.8rem;
    }

    .app-loader {
      position: absolute;
      height: 1rem;
      width: 1rem;
      top: calc(50% - 0.5rem);
      right: 0;
      border-width: 0.2rem;
    }

    > svg {
      width: 1rem;
      position: absolute;
      left: 0.8rem;
      color: #777;
    }

    .close-button {
      all: unset;
      visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      top: calc(50% - 1.05rem);
      left: 0.5rem;
      position: absolute;
      padding: 0.2rem;
      border-radius: 0.4rem;

      > svg {
        transition: background 60ms ease-in-out;
        border-radius: 0.4rem;
        background: #d5d5d5;
        height: 1.6rem;
        width: 1.6rem;
        padding: 0.4rem;
      }

      &:hover > svg {
        background: #c5c5c5;
      }
    }

    &:not([data-selected])[data-hovered] {
      background: #ddd;

      .close-button:not(:hover) > svg {
        background: #ccc;
      }
    }

    &[data-selected] {
      flex-grow: 1;
      flex-basis: 18rem;
      max-width: 24rem;
      box-shadow: none;
      background: var(--tab-selected-color);
      color: #000;

      .close-button {
        &:hover > svg {
          background: #999;
        }
        > svg {
          color: #fff;
          background: #aaa;
        }
      }
    }

    &:not([data-selected])[data-hovered],
    &[data-selected] {
      .close-button + svg {
        visibility: hidden;
      }
      .close-button {
        visibility: visible;
      }
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex {
  display: flex;
}

.full-height {
  height: 100%;
}

input,
select {
  border: 0.1rem solid var(--border-color);
  border-radius: 0.2rem;
}

input[type="text"] {
  padding-left: 0.8rem;
}

select,
select option {
  text-transform: capitalize;
}

small {
  font-size: 1.3rem;
}

.form-wrapper {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 1px 0 var(--drop-shadow-color);
  border-radius: 0.5rem;
  padding: 1.6rem;
  justify-content: left;

  &.runner-wrapper {
    max-width: 46.4rem;
    max-width: 49.6rem;
    width: 100%;
  }
}

.form {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  h4,
  .section-header {
    margin-bottom: 0.6rem;
    font-weight: 700;
  }

  .col-2 {
    grid-template-rows: 1fr;
    grid-gap: 0.8rem;

    &.aligned {
      align-items: center;
    }
  }

  .col-2,
  .flex-2 {
    margin-bottom: 0.8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .col-3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.8rem;
    margin-bottom: 0.8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .row {
    & + .row {
      margin-top: 0.8rem;
    }
  }

  .field {
    margin-bottom: 0.8rem;

    .subfield {
      &:not(.compact) {
        margin-top: 0.4rem;
      }

      label {
        font-weight: 400;
      }
    }

    .input-with-button {
      display: flex;

      input[type="text"] {
        width: 100%;
        text-overflow: ellipsis;
      }

      button {
        flex-shrink: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    input + * {
      margin-left: 0.8rem;
    }
    input[type="radio"] + span {
      margin-left: 0.4rem;
    }

    input + label,
    label input + span {
      text-transform: capitalize;
    }

    &[data-invalid-value="true"] input {
      color: red;
    }
  }

  label {
    font-weight: 500;

    &.header {
      display: block;
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 0.2rem;
      display: flex;
      gap: 0.8rem;
    }
    &.subtle {
      font-weight: 500;
    }
    &.radio {
      display: block;
      font-weight: normal;
    }
  }

  .col-2 .field {
    margin-bottom: 0;
  }

  .range-group {
    margin-bottom: 0.8rem;

    .field {
      margin-bottom: 0;
    }
  }

  .actions {
    display: flex;
    justify-content: right;
    margin-top: 0.8rem;

    button {
      width: 100%;
    }
  }

  .success {
    color: green;
    border: 0.1rem solid green;
    border-radius: 0.4rem;
    font-weight: bold;
    padding: 0.8rem;
    margin-top: 1.8rem;
  }
}

.app-sidebar-body {
  flex-grow: 1;
  overflow: auto;
  padding: 0.8rem 1.2rem;
}

.app-sidebar-toolbar {
  z-index: 1;

  input,
  select {
    width: 100%;
  }

  .col-2,
  .flex-2 {
    gap: 1.6rem;
  }

  .drawer {
    background: var(--drawer-color);
    padding: 0.8rem var(--app-container-padding) 1.2rem;
    border-top: 1px solid var(--secondary-border-color);

    label {
      font-size: 1.3rem;
    }

    .react-aria-Slider + .react-aria-Slider {
      margin-top: 0.8rem;
    }

    *:not(.header) + .col-2 {
      margin-top: 0.8rem;
    }
  }

  .group:last-child {
    border-bottom: 0;
  }

  .group + .group > .drawer:first-child {
    border-top: 0;
  }

  .drawer .header {
    border-bottom: 0.1rem solid var(--border-color);
    margin-top: 1.4rem;
    padding-bottom: 0.4rem;

    border-top: 0.1rem solid var(--border-color);
    border-bottom: 0;
    margin-top: 1.4rem;
    padding-bottom: 0rem;
    padding-top: 1.2rem;

    &:first-child {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }

  hr {
    border: 0;
    border-top: 0.1rem solid var(--border-color);
    height: 0.1rem;
    margin: 1.6rem 0;

    &.compact {
      margin: 1.2rem 0;
    }
  }

  .react-aria-Switch,
  .drawer,
  .setting-header {
    padding: var(--app-container-padding);
  }

  .setting-header {
    margin: 0;
    display: block;
    line-height: 1.8rem;
  }

  label input:not([type="text"]) {
    width: auto;
    margin-right: 0.4rem;
  }

  label.react-aria-Switch,
  .setting-header {
    font-weight: 600;
  }

  .section-header {
    border-bottom: 0.1rem solid var(--border-color);
  }

  .react-aria-ToggleButtonGroup {
    margin: 0.8rem 0 1.6rem;

    button {
      width: 100%;
    }
  }

  .color-picker {
    gap: 0;
    button span {
      // TODO: merge rules with .form label and sidebar label
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
  .medium-color .react-aria-ColorSwatch {
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 0.5rem;
  }
  .small-color .react-aria-ColorSwatch {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.5rem;
  }
  .col-2.color-slider-gap {
    gap: 1.1rem;
  }

  .col-2 .react-aria-Select {
    justify-self: flex-end;
  }
}

.app-sidebar-footer {
  padding: 1.2rem;
  margin-right: 0.8rem;
  select {
    width: 100%;
  }

  label + select {
    margin-top: 0.4rem;
  }
}

.app-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1.6rem;
}

.app-loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.app-loader.delay {
  animation: reveal 0.25s linear var(--app-loader-delay) forwards;
  opacity: 0;
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}

@keyframes hide {
  to {
    opacity: 0;
  }
}

.app-message {
  width: 20rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.app-success {
  width: 4rem;
  height: 4rem;
  color: var(--success-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-loading-animation {
  display: inline-flex;
  margin-right: 0.5ch;
  height: 1.5ch;
}
@keyframes fadeIn {
  from {
    fill-opacity: 0;
    stroke-opacity: 0;
  }
  to {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
}

.loader-loading-animation rect {
  animation: fadeIn var(--app-loader-delay) ease-in-out;
}

.js-plotly-plot {
  background: var(--background-color);
}

.error-modal {
  justify-content: flex-start;
  overflow: auto;
  width: 80vw;
  height: 80vh;
  position: relative;

  h1 {
    color: red;
    margin: 0;
  }

  details {
    width: 100%;
    border: 0.1rem solid var(--foreground-color);
    border-radius: 0.4rem;
    padding: 1rem;
    margin-top: 2rem;
    font-family: "Menlo", "Consolas", "monospace";

    & + details {
      margin-top: 1rem;
    }

    summary {
      font-weight: bold;
    }

    code,
    pre {
      display: block;
      padding: 1rem 0;
    }

    pre {
      overflow: auto;
      background: #f5f5f5;
      padding: 1rem;
      margin: 1rem 0 0;
      font-size: 1.2rem;
    }
  }
}

.field .react-aria-Group {
  display: flex;

  input + button {
    margin: 0;
  }
}

label.sublabel,
.form .field label.sublabel {
  font-weight: 500;
  font-size: 1.3rem;
}

.number-input-group {
  gap: 0.2rem;
  position: relative;

  [slot="increment"],
  [slot="decrement"] {
    visibility: hidden;
    background: var(--background-color);
    border: 0;
    border-radius: 3px 3px 0 0;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.8rem;
    width: 1rem;
    padding: 0;
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    line-height: 0;

    &:active,
    &:hover {
      background: #ddd;
    }
  }

  &:hover {
    [slot="increment"],
    [slot="decrement"] {
      visibility: visible;
    }
  }

  [slot="increment"] {
    border-bottom: 0;
  }

  [slot="decrement"] {
    border-top: 0;
    border-radius: 0 0 3px 3px;
    top: 1.3rem;
  }
}

.react-aria-NumberField input {
  width: 100%;
}

.react-aria-ProgressBar {
  display: grid;
  grid-template-areas:
    "label value"
    "bar bar";
  grid-template-columns: 1fr auto;
  gap: 0.4rem;
  width: 100%;

  .value {
    grid-area: value;
  }

  .bar {
    grid-area: bar;
    box-shadow: inset 0 0 0 1px #ddd;
    height: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    will-change: transform;
  }

  .fill {
    background: var(--fill-color);
    background: var(--foreground-color);
    height: 100%;

    &[data-animation="true"] {
      transition: width 0.25s;
    }
  }
}

.loader {
  .loader-loading-animation {
    height: 1.25ch;
    margin-left: 0.75ch;
  }

  .loader-wrapper {
    margin-top: calc(var(--app-header-height) * -1);
    padding: 2rem;
    width: 100%;
    max-width: 40rem;
    height: 11.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .react-aria-ProgressBar {
    max-width: 38.4rem;
    font-weight: 600;

    &[aria-valuenow="0"] > * {
      opacity: 0;
      animation: reveal 0.2s ease-in-out var(--app-loader-delay) forwards;
    }

    .bar {
      height: 1.6rem;
      border-radius: 1.6rem;
      margin: 0.1rem 0 0.4rem;
      background: var(--background-color);
    }

    .estimate,
    .value {
      font-variant-numeric: tabular-nums;
    }

    .estimate {
      font-size: 1.3rem;
      font-weight: normal;
      height: 1.9rem;
      color: var(--text-deemphasis-color);

      > span {
        opacity: 0;
        animation: reveal 0.25s ease-in-out var(--app-loader-delay) forwards;
      }
    }
  }

  .cancel-run {
    position: absolute;
    bottom: 2rem;
    display: block;
    width: 100%;
    max-width: 25rem;
  }
}

.validation-error {
  border: 0.1rem solid red;
  border-radius: 0.4rem;
  color: red;
  font-weight: 500;
  padding: 1rem;
}

.compute-forecast {
  font-size: 1.3rem;
  line-height: 1.7rem;
  border: 1px solid orange;
  background: lighten(orange, 40%);
  padding: 0.6rem;
  border-radius: 4px;

  p {
    margin: 0 0 1rem;
    &:last-child {
      margin: 0;
    }
  }
}

.react-aria-Menu {
  background: var(--background-color);
  color: var(--foreground-color);
  overflow: auto;
  padding: 4px;
  box-shadow: 1px 3px 9px 0px var(--drop-shadow-color);
  border: 1pxsolid var(--border-color);
  border-radius: 0.4rem;
  min-width: 16rem;

  max-height: inherit;
  box-sizing: border-box;
  overflow: auto;
  padding: 2px;
  min-width: 150px;
  box-sizing: border-box;
  outline: none;

  [role="menuitem"] {
    outline: none;
    cursor: default;

    display: grid;
    grid-template-areas:
      "label kbd"
      "desc  kbd";
    align-items: center;
    column-gap: 20px;
    cursor: default;
    outline: none;
    color: var(--foreground-color);
    padding: 4px 8px;
    border-radius: 4px;

    &[data-focused] {
      background: var(--fill-color);
      color: var(--background-color);
    }
  }

  .react-aria-Separator {
    height: 0.1rem;
    background: var(--border-color);
    margin: 0.4rem 0;
  }
}

.react-aria-Meter {
  display: grid;
  grid-template-areas:
    "label value"
    "bar bar";
  grid-template-columns: 1fr auto;
  gap: 4px;
  width: 100;

  .react-aria-Label {
    font-size: 1.3rem;
    font-weight: 600;

    &.header {
      display: block;
    }
  }

  .value {
    grid-area: value;
    font-size: 1.3rem;
  }

  .bar {
    grid-area: bar;
    box-shadow: inset 0px 0px 0px 1px var(--border-color);
    forced-color-adjust: none;
    height: 8px;
    border-radius: 5px;
    overflow: hidden;
  }

  .fill {
    background: var(--fill-color);
    height: 100%;
    &[data-impact="extreme"] {
      background: var(--impact-extreme-color);
    }
    &[data-impact="high"] {
      background: var(--impact-high-color);
    }
    &[data-impact="medium"] {
      background: var(--impact-medium-color);
    }
    &[data-impact="low"] {
      background: var(--impact-low-color);
    }
  }
}

.react-aria-TabList {
  box-shadow: 0 0 0 1px var(--border-color);
  border-radius: 6px;
  display: flex;
  background: var(--secondary-border-color);

  &[data-orientation="vertical"] {
    flex-direction: column;
  }
}

.react-aria-Tab {
  cursor: default;
  outline: none;
  position: relative;
  --border-color: transparent;
  forced-color-adjust: none;
  border-radius: 6px;
  padding: 0.2rem 1.6rem;
  font-weight: 500;
  place-content: center;

  &[data-selected="true"] {
    background: var(--background-color);
    box-shadow: 0 0 3px 0 var(--drop-shadow-color);
  }

  &:not([data-selected]) {
    color: var(--secondary-foreground-color);
    &[data-hovered],
    &[data-focused] {
      color: var(--foreground-color);
    }
  }

  &[data-selected] {
    color: var(--text-color);
  }

  &[data-disabled] {
    color: var(--text-disabled-color);
    &[data-selected] {
      --border-color: var(--text-disabled-color);
    }
  }

  &[data-focus-visible]:after {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: 4px;
    border: 3px solid var(--focus-ring-color);
  }
}

.react-aria-Button {
  background: var(--button-background-color);
  box-shadow:
    0 1px 1px 0 var(--button-shadow-bottom-color),
    0 0 1px 1px var(--button-shadow-color);
  border: 0;
  border-radius: 0.5rem;
  appearance: none;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  outline: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0.6rem 1.6rem;

  &.compact {
    padding: 0 0.8rem;
  }

  &.icon {
    padding: 0;
  }

  &.flat {
    background: #f6f7f8;
    box-shadow: none;

    &:hover {
      background: #f0f1f2;
    }
  }

  &[data-pressed] {
    background: var(--button-background-pressed-color);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  &[data-primary] {
    background-color: var(--button-primary-background-color);
    color: var(--button-primary-text-color);
    font-weight: bold;

    &[data-pressed] {
      background-color: var(--button-primary-pressed-background-color);
    }
  }

  &[data-warning] {
    background-color: var(--button-warning-background-color);
    color: var(--button-warning-text-color);
    font-weight: bold;

    &[data-pressed] {
      background-color: var(--button-warning-pressed-background-color);
    }
  }

  &[data-disabled] {
    background: var(--button-disabled-background-color);
    color: var(--button-disabled-foreground-color);
  }
}

.react-aria-RadioGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .react-aria-Label {
    font-weight: 600;
  }
}

.react-aria-Radio {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  forced-color-adjust: none;
  font-weight: 400;

  &:before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    border: 0.2rem solid var(--border-color);
    background: var(--field-background);
    border-radius: 1rem;
    transition: all 200ms;
  }

  &[data-pressed]:before {
    border-color: var(--border-color-pressed);
  }

  &[data-selected] {
    &:before {
      border-color: var(--highlight-background);
      border-width: 0.429rem;
    }

    &[data-pressed]:before {
      border-color: var(--highlight-background-pressed);
    }
  }

  &[data-focus-visible]:before {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }
}

[data-hidden] {
  opacity: 1;
  height: auto;
  transition: height 0.3s ease-out;
}
[data-hidden="true"] {
  height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
}

[data-sr-only] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flex-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.auto-onefr {
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.6rem;
}

.onefr-auto {
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  gap: 1.6rem;
}

.align-items-center {
  align-items: center;
}
.align-items-flex-start {
  align-items: flex-start;
}

.col-2-reverse {
  > :first-child {
    order: 1;
  }
}

.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}

.text-deemphasis {
  color: var(--text-deemphasis-color);
  font-weight: 450;
}

.text-secondary {
  color: var(--text-secondary-color);
}

.text-normal-weight {
  font-weight: normal;
}

.text-tabular-nums {
  font-variant-numeric: tabular-nums;
}

body.blur {
  .react-aria-SliderTrack .fill {
    background: var(--fill-blur-color);
  }
  .react-aria-Switch[data-selected] .indicator {
    background: var(--fill-blur-color);
    border-color: var(--switch-blur-border-color);
  }
  // .react-aria-Button {
  //   --button-shadow-bottom-color: transparent;
  // }
}
