.heatmap-sidebar {
  .form .field .colorscale-setting.col-2 {
    grid-template-columns: min-content 1fr;

    .controls {
      display: flex;
      justify-self: flex-end;
      gap: 0.4rem;
      flex-direction: row-reverse;
    }

    .react-aria-Select .react-aria-Button {
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      font-weight: 450;
      width: 100%;
    }

    .react-aria-ToggleButton {
      width: 3.4rem;
      padding: 0.9rem;
      flex-shrink: 0;

      &:not([data-hovered]):not([data-selected]) {
        color: rgba(0, 0, 0, 0.75);
      }
    }
  }

}

.react-aria-Popover .react-aria-ListBox [data-key="Discrete"] {
  position: relative;

  &::after {
    content: "";
    display: block;
    border-bottom: 0.1rem solid var(--border-color);
    position: absolute;
    margin-bottom: 0.1rem;
    bottom: -0.2rem;
    left: 0.4rem;
    right: 0.4rem;
  }
}
