.form.runner-form {
  .field + .field {
    border-top: 0;
    margin: 0;
  }

  .field {
    margin: 0;

    padding: var(--app-container-padding) 0;
    border-bottom: 0.1rem solid var(--border-color);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }

    .setting {
      margin: 1.2rem 0;

      .react-aria-Select {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .react-aria-Label {
          font-weight: 450;
        }

        .react-aria-Button {
          display: flex;
          padding: 0.4rem 10px;
          width: 100%;
        }
      }
    }

    .react-aria-Switch {
      font-weight: 600;
    }

    &.inline-toggle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-height: 5.4rem;

      .react-aria-Switch {
        flex-shrink: 0;
      }

      .setting {
        margin: 0;
      }
    }

    &.clustering {
      .clustering-method {
        margin: 0;
      }
    }

    &.output {
      .setting {
        display: flex;
        gap: 1.6rem;
        align-items: center;
      }

      input[type="text"] {
        max-width: 12.8rem;
        font-size: 1.2rem;
        direction: rtl;
      }
      button {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
      }
    }

    &.performance {
      .performance-settings {
        gap: 1.6rem;

        .react-aria-Slider,
        .react-aria-Meter {
          border: 0.1rem solid var(--border-color);
          border-radius: 0.4rem;
          padding: 0.8rem;
          margin-bottom: 0.4rem;
        }

        small {
          padding: 0 1rem;
        }

        svg {
          width: 14px;
          margin: 0 2px 2px 0;
          color: var(--impact-medium-color);
        }

        &[data-impact="extreme"] svg {
          color: var(--impact-extreme-color);
        }
        &[data-impact="high"] svg {
          color: var(--impact-high-color);
        }
        &[data-impact="medium"] svg {
          color: var(--impact-medium-color);
        }

        .react-aria-Meter {
          gap: 6px;
        }

        .react-aria-Meter + small {
          display: flex;
          justify-content: space-between;
          margin-top: 0.8rem;
        }
      }
    }
  }
}
