.react-aria-Slider {
  display: grid;
  grid-template-areas:
    "label output"
    "track track";
  grid-template-columns: 1fr auto;
  max-width: 100%;
  align-items: baseline;

  label.react-aria-Label {
    grid-area: label;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .react-aria-SliderOutput {
    grid-area: output;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    text-align: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }

  .react-aria-SliderTrack {
    grid-area: track;
    position: relative;
    margin: 0.8rem 0;

    .track,
    .fill {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 0.4rem;
      border-radius: 0.5rem;
    }

    .track {
      background: var(--border-color);
      width: 100%;
    }

    .fill {
      background: var(--fill-color);
    }
  }

  .react-aria-SliderThumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--background-color);
    forced-color-adjust: none;
    box-shadow: 0 0 2px #666;
    z-index: 1;

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
    }
  }

  .react-aria-Input {
    color: var(--text-secondary-color);
    margin-bottom: 0.4rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    width: calc(3ch + (0.3rem * 2));
    padding: 0.1rem 0.3rem;
    line-height: 0;
    text-align: center;
    font-feature-settings: "tnum";
    letter-spacing: -0.1rem;
  }
}
