:root {
  --canvas-color: #f0f0f0;
  --background-color: #fff;
  --foreground-color: #111;
  --border-color: #dadada;
  --shadow-color: #ccc;
  --drop-shadow-color: #aaa;
  --secondary-background-color: #f8f8f8;
  --secondary-foreground-color: #5c5c5c;
  --secondary-border-color: #eaeaea;
  --pressed-color: #ececec;
  --focus-ring-color: SelectedItem;
  --fill-color: #444;
  --fill-color: #125F9D;
  --fill-text-color: var(--text-inverted-color);
  --fill-blur-color: #acacac;
  --impact-extreme-color: red;
  --impact-high-color: orange;
  --impact-medium-color: gold;
  --impact-low-color: green;

  --button-background-color: var(--background-color);
  --button-background-pressed-color: #f2f2f2;
  --button-shadow-color: #ddd;
  --button-shadow-bottom-color: #aaa;
  --button-primary-background-color: #226fad;
  --button-primary-pressed-background-color: #125f9d;
  --button-primary-background-color: var(--fill-color);
  --button-primary-pressed-background-color: #024f8d;
  --button-primary-text-color: #fefefe;
  --button-toggle-background-color: #f3f3f3;

  --switch-border-color: #bbb;
  --switch-blur-border-color: #777;
  --switch-pressed-color: #ccc;
  --switch-pressed-border-color: #888;

  --app-header-color: var(--canvas-color);
  // --app-header-color: #e5e5e5;
  --app-header-border-color: #ddd;
  --drawer-color: #fdfdfd;

  --text-color: var(--foreground-color);
  --text-inverted-color: var(--background-color);
  --text-disabled-color: #777;
  --text-color-placeholder: var(--text-disabled-color);
  --text-secondary-color: #444;
  --text-deemphasis-color: #666;
  --text-disabled-color: #888;

  --highlight-background: var(--fill-color);
  --highlight-foreground: var(--background-color);
  --highlight-background-pressed: #024F8D;

  --app-sidebar-width: 24rem;
  --app-container-padding: 1.2rem;
  --trigger-width: 9.6rem;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --canvas-color: #333;
//     --background-color: #444;
//     --foreground-color: #fff;
//     --border-color: #222;
//     --shadow-color: #444;
//     --drop-shadow-color: #666;
//     --secondary-background-color: #282828;
//     --secondary-foreground-color: #666;
//     --secondary-border-color: #3a3a3a;
//     --pressed-color: #444;
//   }
// }
